@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "joti-regular";
    src: url("./fonts/JotiOne-Regular.ttf");
}

@font-face {
    font-family: "inter-regular";
    src: url("./fonts/Inter_18pt-Regular.ttf");
}